## Environment file for snapshot keyper

# Replace with your account key
SIGNING_KEY=0000000000000000000000000000000000000000000000000000000000000000

# Please give your keyper a name
KEYPER_NAME=namenotset

# Your machine's publicly accessible IP address
PUBLIC_IP=X.X.X.X

######################################
## Values below should not be touched!
SM_BLOCKTIME=15
GENESIS_KEYPER=0xCFcbB03Beb4224BC2353888905878066d6eeE004
