## Environment file for snapshot keyper

# Replace with your account key
SIGNING_KEY=0000000000000000000000000000000000000000000000000000000000000000

# Please give your keyper a name
KEYPER_NAME=namenotset

# Your machine's publicly accessible IP address
PUBLIC_IP=X.X.X.X

######################################
## Values below should not be touched!
SM_BLOCKTIME=10
GENESIS_KEYPER=0x440Dc6F164e9241F04d282215ceF2780cd0B755e
