## Environment file for Shutter Service Mainnet Keyper

# Replace with your ethereum account key
SIGNING_KEY=0000000000000000000000000000000000000000000000000000000000000000

# Please give your keyper a name.
# Please use only letters, numbers and underscores.
KEYPER_NAME=namenotset

# Your machine's publicly accessible IP address
PUBLIC_IP=X.X.X.X


######################################
# Chain RPC

# Enter the URL to a Chain Execution client WS(S) RPC endpoint
CHAIN_EXECUTION_RPC_WS_URL=


######################################
# Metrics

# Enable metrics collection
METRICS_ENABLED=true

# The IP address the metrics ports are bound to, defaults to the public interface
METRICS_LISTEN_IP=0.0.0.0

## Push metrics ##
# If you would rather push metrics instead of exposing the services metrics ports
# for pull access, uncomment the following lines and set METRICS_LISTEN_IP above
# to 127.0.0.1.

# Uncomment to enable push metrics
#COMPOSE_PROFILES=pushmetrics

# Target URL(s) for push metrics in Prometheus remote write format, separate multiple targets with a comma
#PUSHGATEWAY_URL=https://keyperingest.metrics.shutter.network/api/v1/write
# Authentication for the push gateway, if required. Seperate the credentials for multiple targets with a comma
#PUSHGATEWAY_USERNAME="<USERNAME>"
#PUSHGATEWAY_PASSWORD="<API_KEY>"

# The default URL above points to a metrics server by Shutter Network (which we
# would appreciate you send metrics to), please ask for an access key in the
# Keyper section of the Shutter Network discourse forum.
# Replace <USERNAME> and <API_KEY> above with the credentials you receive.
# Multiple targets and their credentials can be specified by separating them with a comma.

## Push Logging ##

# To enable push logs, loki docker driver needs to be installed first by following cmd.
# `docker plugin install grafana/loki-docker-driver:3.3.2-amd64 --alias loki --grant-all-permissions`
# Please change `amd64` to `arm64` based on machine service is hosted on

#Uncomment to enable push logs
# Target URL(s) for push logs in Loki remote write format
#LOKI_URL=https://<user_id>:<password>@logs.metrics.shutter.network/insert/loki/api/v1/push

# The default URL above points to a loki server by Shutter Network (which we
# would appreciate you send logs to), please ask for an access key in the
# Keyper section of the Shutter Network discourse forum.
# Replace <user_id> and <password> above with the credentials you receive.

# To run with push logs to loki, the sevice should be run by command:
# `docker compose -f docker-compose.yml -f docker-compose.loki.yml up -d`


######################################
## These values MUST not be touched!
SM_BLOCKTIME=10
GENESIS_KEYPER=0x440Dc6F164e9241F04d282215ceF2780cd0B755e

# Compose defaults
COMPOSE_REMOVE_ORPHANS=true
COMPOSE_PROJECT_NAME=shutter-api-keyper
SHUTTER_HTTPENABLED=true